<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="#" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Note</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script>
      function confirmDelete(noteId) {
        if (confirm('Are you sure you want to delete this note?')) {
          window.location.href = "{% url 'delete_note' %}?note_id=" + noteId
        }
      }
      
      document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('note-title').addEventListener('keydown', function (event) {
          if (event.keyCode === 9) {
            // Tab key
            event.preventDefault()
            document.getElementById('note-content').focus()
          }
        })
      })
    </script>
  </head>
  <link rel="stylesheet" href="/static/css/style.css" />
  <body>
    {% if messages %}
      <div class="position-fixed mt-3 top-0 start-50 translate-middle-x" style="z-index: 1050">
        {% for message in messages %}
          <div class="alert alert-dismissible fade show
        {% if message.tags == 'success' %}{% endif %} " role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </div>
      <script>
        // Delayed fade out for alerts
        $('.alert').delay(2000).fadeOut('slow')
      </script>
    {% endif %}
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">⯇ Notaki</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
          <!-- Aligning the dropdown menu to the right -->
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/static/images/user.png" alt="Avatar" class="avatar" />
                Hello, {{ request.session.name }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">Logout</button>
                  </form>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-6">
      <form action="{% url 'save_note' %}?note_id={{ note.id }}" method="POST">
        {% csrf_token %}
        <!-- Title section -->
        <div class="row mb-1 align-items-end">
          <div class="col">
            <div class="input-group">
              <label for="note-title" class="input-group-text fw-bold">Title</label>
              <input type="text" class="form-control" id="note-title" name="title" value="{{ note.title }}" />
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i></button>
          </div>
          <div class="col-auto">
            <a class="btn btn-info" aria-current="page" href="#"><i class="fa fa-globe fa-lg" aria-hidden="true"></i></a>
          </div>
          <div class="col-auto">
            <a class="btn btn-info" aria-current="page" href="#"><i class="fa fa-microphone fa-lg" aria-hidden="true"></i></a>
          </div>
          <div class="col-auto">
            <a class="btn btn-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" href="#"><i class="fa fa-file-text fa-lg" aria-hidden="true"></i></a>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasRightLabel">Note summary</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <hr />
              <div class="offcanvas-body" style="height: calc(100% - 70px); overflow-y: auto;">
                <div class="conversation">
                  <div class="message user">
                    <p>Hello, can you assist me?</p>
                  </div>
                  <div class="message system">
                    <p>Hi there! I'm here to help.</p>
                  </div>
                  <div class="message user">
                    <p>I need help with a technical issue.</p>
                  </div>
                  <div class="message system">
                    <p>Of course, I'll do my best to assist you. What seems to be the problem?</p>
                  </div>
                  <div class="message user">
                    <p>It's about setting up a new software.</p>
                  </div>
                  <div class="message system">
                    <p>Alright, I can guide you through the process. Let's start with...</p>
                  </div>
                  <!-- Add more messages as needed -->
                </div>
              </div>
              <!-- Input field for sending messages -->
              <div class="message-input">
                <form>
                  <div class="input-group">
                    <input type="text" id="userMessage" class="form-control" placeholder="Type your message..." />
                    <button type="submit" class="btn btn-primary">Send</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <a class="btn btn-danger" aria-current="page" href="#" onclick="confirmDelete({{ note.id }})"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
          </div>
        </div>
        <!-- Date section -->
        <b class="small">Created:</b><small>{{ note.date_created }}</small>
        <b class="small ms-4">Modified:</b><small>{{ note.date_modified }}</small>
        <hr />
        <!-- Content section -->
        <div class="input-group">
          <label for="note-content" class="fw-bold input-group-text">Content</label>
          <textarea class="form-control" id="note-content" name="content" rows="5">{{ note.content }}</textarea>
        </div>
      </form>
    </div>
  </body>
</html>
