<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Note</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.0/css/all.min.css" integrity="sha512-UJqci0ZyYcQ0AOJkcIkUCxLS2L6eNcOr7ZiypuInvEhO9uqIDi349MEFrqBzoy1QlfcjfURHl+WTMjEdWcv67A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">Notaki</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
          <!-- Aligning the dropdown menu to the right -->
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/static/images/user.png" alt="Avatar" class="avatar" />
                Hello, {{ request.session.name }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">Logout</button>
                  </form>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-6">
      <form action="{% url 'save_note' %}?note_id={{ note.id }}" method="POST">
        {% csrf_token %}
        <!-- Title Section -->
        <div class="row mb-3">
          <label for="note-title" class="form-label">Title</label>
          <div class="col-md-8">
            <div class="input-group">
              <input type="text" class="form-control" id="note-title" name="title" value="{{ note.title }}" />
            </div>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary w-100">Save</button>
          </div>
          <div class="col-md-2">
            <input type="hidden" name="note_id" value="{{ note.id }}" />
            <button type="button" class="btn btn-danger w-100" onclick="deleteNote()"><i class="fa-solid fa-trash"></i></button>
          </div>
        </div>
        <hr />
        <!-- Content Section -->
        <div class="mb-3">
          <label for="note-content" class="form-label">Content</label>
          <textarea class="form-control" id="note-content" name="content" rows="5">{{ note.content }}</textarea>
        </div>
      </form>
    </div>

    <script>
      function deleteNote() {
        // Confirm the deletion with the user
        if (confirm('Are you sure you want to delete this note?')) {
          // Set the action of the form to the delete URL
          document.forms[0].action = "{% url 'delete_note' %}"
      
          // Submit the form
          document.forms[0].submit()
        }
      }
    </script>
  </body>
</html>
